<footer>
   <div class="footer__area footer-bg">
      <div [ngClass]="footerPadd ? footerPadd : 'footer__top pt-190 pb-40' ">
         <div class="container">
            <div class="row">
               <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-4 col-sm-6">
                  <div class="footer__widget mb-50">
                     <div class="footer__widget-head mb-22">
                        <div class="footer__logo">
                           <a [routerLink]="['/']">
                              <img src="assets/img/logo/test (1).png" alt="">
                           </a>
                        </div>
                     </div>
                     <div class="footer__widget-body">
                        <p>Prenez le dessus sur votre vie d'étudiant en France avec A-Z Etudes en France ! Quelque soit votre projet, vos ambitions et votre vision en tant que jeune, nous vous fournissons l'accompagnement !</p>

                        <div class="footer__social">
                           <ul>
                              <li><a href="home-three"><i class="social_facebook"></i></a></li>
                              <li><a href="home-three" class="tw"><i class="social_twitter"></i></a></li>
                              <li><a href="home-three" class="pin"><i class="social_pinterest"></i></a></li>
                           </ul>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-xxl-2 offset-xxl-1 col-xl-2 offset-xl-1 col-lg-3 offset-lg-0 col-md-2 offset-md-1 col-sm-5 offset-sm-1">
                  <div class="footer__widget mb-50">
                     <div class="footer__widget-head mb-22">
                        <h3 class="footer__widget-title">Bon à savoir</h3>
                     </div>
                     <div class="footer__widget-body">
                        <div class="footer__link">
                           <ul>
                              <li><a href="about">Qui sommes nous ?</a></li>
                              <li><a href="sing-up">Nos offres</a></li>
                              <li><a href="courses">Les offres de logement</a></li>
                              <li><a href="blog">Blog</a></li>
                              <li><a href="courses">F.A.Q.</a></li>
                              <li><a href="contact">Contact</a></li>
                           </ul>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-xxl-2 col-xl-2 col-lg-2 offset-lg-0 col-md-3 offset-md-1 col-sm-6">
                  <div class="footer__widget mb-50">
                     <div class="footer__widget-head mb-22">
                        <h3 class="footer__widget-title">Informations privées</h3>
                     </div>
                     <div class="footer__link">
                          <div class="footer__widget-body">
                           <ul>
                              <li><a href="contact">Terms & Conditions</a></li>
                              <li><a href="contact">Privacy</a></li>
                              <li><a href="contact">Cookies</a></li>
                           </ul>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-5 col-sm-6">
                  <div class="footer__widget footer__pl-70 mb-50">
                     <div class="footer__widget-head mb-22">
                        <h3 class="footer__widget-title">S'inscrire à notre newsletter</h3>
                     </div>
                     <div class="footer__widget-body">
                        <div class="footer__subscribe">
                           <form action="#">
                              <div class="footer__subscribe-input mb-15">
                                 <input type="email" placeholder="Inscris ton adresse-mail !">
                                 <button type="submit">
                                    <i class="far fa-arrow-right"></i>
                                    <i class="far fa-arrow-right"></i>
                                 </button>
                              </div>
                           </form>
                           <p>Nous t'informons de tout ce qui concerne les études et l'installation en France.</p>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="footer__bottom">
         <div class="container">
            <div class="row">
               <div class="col-xxl-12">
                  <div class="footer__copyright text-center">
                     <p>© 2023 A-Z Etudes en France, All Rights Reserved. Design by <a [routerLink]="['/']">Oswald Faust</a></p>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</footer>
