<div class="uk-grid" data-uk-grid>
    <div class="uk-width-2-3@l">
        <div class="widjet --profile">
            <div class="widjet__head">
                <h3 class="uk-text-lead">Profil</h3>
            </div>
            <div class="widjet__body">
                <div class="user-info">
                    <div class="user-info__avatar"><img src="assets/img/profile.png" alt="profile"></div>
                    <div class="user-info__box">
                        <div class="user-info__title">Votre nom</div>
                        <div class="user-info__text">Pays, Membre depuis "date"</div>
                    </div>
                </div><a class="uk-button uk-button-danger" [routerLink]="['profile']"><i class="ico_edit"></i><span class="uk-margin-small-left">Editer son Profil</span></a>
            </div>
        </div>
        <div class="widjet --activity">
            <div class="widjet__head">
                <h3 class="uk-text-lead">Activité récente</h3><a [routerLink]="['profile']">Tout voir</a>
            </div>
            <div class="widjet__body">
                <div class="widjet-game">
                    <div class="widjet-game__media"><a [routerLink]="['profile']"><img src="assets/img/game-2.jpg" alt="image"></a></div>
                    <div class="widjet-game__info"><a class="widjet-game__title" href="10_game-profile.html"> Dossier de VISA</a>
                        <div class="widjet-game__record">3 hours on record</div>
                        <div class="widjet-game__last-played">last played on 18 Feb, 2022</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="uk-width-1-3@l">
        <div class="widjet --badges">
            <div class="widjet__head">
                <h3 class="uk-text-lead">Badges d'acheteurs</h3><a [routerLink]="['profile']"></a>
            </div>
            <div class="widjet__body">
                <ul class="badges-list">
                    <li><img src="assets/img/badge-1.png" alt="badge"></li>
                    <li><img src="assets/img/badge-2.png" alt="badge"></li>
                    <li><img src="assets/img/badge-3.png" alt="badge"></li>
                </ul>
            </div>
        </div>
        <div class="widjet --games">
            <div class="widjet__head">
                <h3 class="uk-text-lead">Achats en cours de validation</h3><a [routerLink]="['profile']"></a>
            </div>
            <div class="widjet__body">
                <ul class="games-list">
                    <li><img src="assets/img/game-1.jpg" alt="game"></li>
                    <li><img src="assets/img/game-2.jpg" alt="game"></li>
                    <li><img src="assets/img/game-3.jpg" alt="game"></li>
                    <li><img src="assets/img/game-4.jpg" alt="game"></li>
                </ul>
            </div>
        </div>
    </div>
</div>
