<header>
    <div id="header-sticky" [ngClass]="headerSticky ? 'header__area header__transparent header__padding sticky' : 'header__area header__transparent header__padding' "
    [class.header__white]="header__white">
       <div class="container-fluid">
          <div class="row align-items-center">
             <div class="col-xxl-3 col-xl-3 col-lg-4 col-md-2 col-sm-4 col-6">
                <div class="header__left d-flex">
                   <div class="logo">
                      <a [routerLink]="['/']" >
                        <img *ngIf="header__white && !headerSticky else elseImg"
                           src="assets/img/logo/logo-2.png" alt="logo" />

                         <ng-template #elseImg>
                          <img src="assets/img/logo/logo.png" alt="logo">
                         </ng-template>
                      </a>
                   </div>
                </div>
             </div>
             <div class="col-xxl-9 col-xl-9 col-lg-8 col-md-10 col-sm-8 col-6">
                <div class="header__right d-flex justify-content-end align-items-center">
                   <div class="main-menu" [class.main-menu-3]="header__white">
                      <nav id="mobile-menu" class="d-none d-xl-block">
                         <ul>
                            <li>
                               <a [routerLink]="['/']">Accueil</a>
                            </li>
                            <li class="has-dropdown">
                               <a [routerLink]="['/courses']">Trouver un logement</a>
                               <ul class="submenu">
                                  <li><a [routerLink]="['/courses']">Les meilleures villes</a></li>
                                  <li><a [routerLink]="['/courses-list']">Appartements en vogue</a></li>
                                  <li><a [routerLink]="['/courses-sidebar']">Démarche appartement</a></li>
                               </ul>
                            </li>
                            <li>
                               <a [routerLink]="['/blog']">Blog</a>
                               <li><a [routerLink]="['/about']">A propos</a></li>
                               <li><a [routerLink]="['/contact']">Contact</a></li>
                          </ul>
                      </nav>
                   </div>
                   <div class="header__btn ml-20 d-none d-sm-block">
                      <a [routerLink]="['/sign-in']" class="e-btn">Se connecter</a>
                   </div>
                   <div class="header__btn ml-20 d-none d-sm-block">
                    <a [routerLink]="['/sign-up']" class="e-btn">S'inscrire</a>
                 </div>
                   <div class="sidebar__menu d-xl-none">
                      <div (click)="handleSidebar()" class="sidebar-toggle-btn ml-30" id="sidebar-toggle">
                        <span class="line"></span>
                        <span class="line"></span>
                          <span class="line"></span>
                      </div>
                  </div>
                </div>
             </div>
          </div>
       </div>
    </div>
 </header>

 <!-- cart mini area start
 <div class="cartmini__area">
  <div class="cartmini__wrapper" [class.opened]="showCart">
     <div class="cartmini__title">
        <h4>Shopping cart</h4>
     </div>
     <div class="cartmini__close" (click)="handleCartClose()">
        <button type="button" class="cartmini__close-btn">
        <i class="fal fa-times"></i></button>
     </div>
     <div class="cartmini__widget">
        <div class="cartmini__inner">
           <ul>
              <li>
                 <div class="cartmini__thumb">
                    <a href="#">
                       <img src="assets/img/course/sm/cart-1.jpg" alt="">
                    </a>
                 </div>
                 <div class="cartmini__content">
                    <h5><a href="#">Strategy law and organization Foundation </a></h5>
                    <div class="product-quantity mt-10 mb-10">
                       <span (click)="handleDecreaseCart('one')" class="cart-minus">-</span>
                       <input class="cart-input" type="text" value="{{count}}"/>
                       <span (click)="handleAddCart('one')" class="cart-plus">+</span>
                    </div>
                    <div class="product__sm-price-wrapper">
                       <span class="product__sm-price">$46.00</span>
                    </div>
                 </div>
                 <a href="#" class="cartmini__del"><i class="fal fa-times"></i></a>
              </li>
              <li>
                 <div class="cartmini__thumb">
                    <a href="#">
                       <img src="assets/img/course/sm/cart-2.jpg" alt="">
                    </a>
                 </div>
                 <div class="cartmini__content">
                    <h5><a href="#">Fundamentals of music theory Learn new</a></h5>
                    <div class="product-quantity mt-10 mb-10">
                       <span (click)="handleDecreaseCart('two')" class="cart-minus">-</span>
                       <input class="cart-input" type="text" value="{{countTwo}}"/>
                       <span (click)="handleAddCart('two')" class="cart-plus">+</span>
                    </div>
                    <div class="product__sm-price-wrapper">
                       <span class="product__sm-price">$32.00</span>
                    </div>
                 </div>
                 <a href="#" class="cartmini__del"><i class="fal fa-times"></i></a>
              </li>
              <li>
                 <div class="cartmini__thumb">
                    <a href="#">
                       <img src="assets/img/course/sm/cart-3.jpg" alt="">
                    </a>
                 </div>
                 <div class="cartmini__content">
                    <h5><a href="#">Strategy law and organization Foundation </a></h5>
                    <div class="product-quantity mt-10 mb-10">
                       <span (click)="handleDecreaseCart('three')" class="cart-minus">-</span>
                       <input class="cart-input" type="text" value="{{countThree}}"/>
                       <span (click)="handleAddCart('three')" class="cart-plus">+</span>
                    </div>
                    <div class="product__sm-price-wrapper">
                       <span class="product__sm-price">$62.00</span>
                    </div>
                 </div>
                 <a href="#" class="cartmini__del"><i class="fal fa-times"></i></a>
              </li>
           </ul>
        </div>
        <div class="cartmini__checkout">
           <div class="cartmini__checkout-title mb-30">
              <h4>Subtotal:</h4>
              <span>$113.00</span>
           </div>
           <div class="cartmini__checkout-btn">
              <a [routerLink]="['/cart']" class="e-btn e-btn-border mb-10 w-100"> <span></span> view cart</a>
              <a [routerLink]="['/checkout']" class="e-btn w-100"> <span></span> checkout</a>
           </div>
        </div>
     </div>
  </div>
</div>

<div (click)="handleCartClose()" [class.opened]="showCart" class="body-overlay"></div>
 cart mini area end -->


<!-- sidebar area start -->
<div class="sidebar__area" [class.sidebar-opened]="showSidebar">
  <div class="sidebar__wrapper">
    <div (click)="handleSidebarClose()" class="sidebar__close">
        <button class="sidebar__close-btn" id="sidebar__close-btn">
        <span><i class="fal fa-times"></i></span>
        <span>close</span>
        </button>
    </div>
    <div class="sidebar__content">
        <div class="logo mb-40">
          <a [routerLink]="['/']">
            <img src="../../assets/img/logo/logo.png" alt="logo">
          </a>
        </div>

         <div class="side-info-content sidebar-menu mm-menu">

            <ul>
              <li class="menu-item-has-children"
              [class.active]="showHomeDropdown">
              <a [routerLink]="['/home-three']">Accueil</a>
              </li>

              <li class="menu-item-has-children has-droupdown"
              [class.active]="showCoursesDropdown">
                    <a (click)="coursesDropdown()">Trouver un logement</a>
                    <ul class="sub-menu" [class.active]="showCoursesDropdown">
                          <li>
                            <a [routerLink]="['/courses']">Les meilleures villes</a>
                          </li>
                          <li>
                            <a [routerLink]="['/courses-list']">Appartement en vogue</a>
                          </li>
                          <li>
                            <a [routerLink]="['/courses-sidebar']">Démarche appartement</a>
                          </li>
                    </ul>
                  </li>

                  <li class="menu-item-has-children"
                  [class.active]="showBlogDropdown">

                  <a [routerLink]="['/blog']">Blog</a>
              </li>

              <li>
                <a [routerLink]="['/about']" class="border-0">A propos de nous</a>
            </li>

              <li>
                  <a [routerLink]="['/contact']" class="border-0">Contact</a>
              </li>

              <li>
                <div>
                 <a [routerLink]="['/sign-in']" class="e-btn">Connexion</a>
                </div>
            </li>
            <li>
                <div>
                 <a [routerLink]="['/sign-up']" class="e-btn">Inscription</a>
                </div>
            </li>

          </ul>
        </div>
    </div>
  </div>
</div>

<div (click)="handleSidebarClose()" class="body-overlay"
[class.opened]="showSidebar"></div>
<!-- sidebar area end -->
