<section class="about__area pt-90 pb-150">
    <div class="container">
       <div class="row">
          <div class="col-xxl-5 offset-xxl-1 col-xl-6 col-lg-6">
             <div class="about__thumb-wrapper">

                <div class="about__thumb ml-100">
                   <img src="assets/img/hero/hero-sm-1.jpg" alt="">
                </div>
                <div class="about__banner mt--210">
                  <img src="assets/img/Create/arc-triomphe-nuit-paris-france.jpg" alt="">
                </div>
             </div>
          </div>
          <div class="col-xxl-6 col-xl-6 col-lg-6">
             <div class="about__content pl-70 pr-60 pt-25">
                <div class="section__title-wrapper mb-25">
                   <h2 class="section__title">Etudier en <span class="yellow-bg-big">France<img src="assets/img/shape/yellow-bg-2.png" alt=""><br> </span>n’a
                    jamais été aussi simple !</h2>
                   <p>Vous nourissez l'envie de poursuire vos études en France ou d'y développer un projet étudiant ? Ne cherchez pas plus loins, nous sommes votre meilleur allié ! Avec nous, bénéficiez :</p>
                </div>
                <div class="about__list mb-35">
                  <div class="row">
                    <div class="col-sm-6">
                        <ul class="single-list-wrap">
                            <li class="single-list-inner style-check-box">
                                <i class="fa fa-check"></i> D'un logement optimisé
                            </li>
                            <li class="single-list-inner style-check-box">
                                <i class="fa fa-check"></i> D'un accompagnement global pour vos études
                            </li>
                            <li class="single-list-inner style-check-box">
                                <i class="fa fa-check"></i> D'une étude d'elligibilité d'étude en France
                            </li>
                        </ul>
                    </div>
                    <div class="col-sm-6">
                        <ul class="single-list-wrap">
                            <li class="single-list-inner style-check-box">
                                <i class="fa fa-check"></i> D'une aide de VISA étudiant garantie
                            </li>
                            <li class="single-list-inner style-check-box">
                                <i class="fa fa-check"></i> D'un Avis de Virement Irrévocable dans l'U.E.M.O.A.
                            </li>
                            <li class="single-list-inner style-check-box">
                                <i class="fa fa-check"></i> Prise en charge étudiant et Garants Financiers
                            </li>
                        </ul>
                    </div>
                </div>
                </div>
                <a [routerLink]="['/sign-up']" class="e-btn e-btn-border">Se lancer</a>
             </div>
          </div>
       </div>
    </div>
 </section>
