body {
	margin: 0;
	font-family: var(--bs-body-font-family);
	font-size: var(--bs-body-font-size);
	font-weight: var(--bs-body-font-weight);
	line-height: var(--bs-body-line-height);
	color: var(--bs-body-color);
	text-align: var(--bs-body-text-align);
	background-color: var(--bs-body-bg);
	-webkit-text-size-adjust: 100%;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	overflow-x: hidden;
}
.offset-xxl-4 {
	margin-left: auto;
	margin-right: 33.33333333%;
}
.offset-xxl-1 {
	margin-left: auto;
	margin-right: 8.33333333%;
}
.offset-xxl-3 {
	margin-left: auto;
	margin-right: 25%;
}
.offset-xl-3 {
	margin-left: auto;
	margin-right: 25%;
}
.offset-xxl-2 {
	margin-left: auto;
	margin-right: 16.66666667%;
}
.f-right{
    float: left;
}
.f-left{
    float: right;
}
.header__category {
	padding-right: 30px;
	margin-right: 30px;
}
.header__category::after {
	right: 0;
	left: auto;
}
.main-menu ul li:not(:first-child) {
	margin-left: 0;
	margin-right: 40px;
}
.cat-menu span {
	padding-right: 14px;
}
.main-menu ul li.has-dropdown > a::after {
	margin-right: 5px;
	margin-left: auto;
}
.main-menu ul li .submenu {
	right: 0;
}
.sidebar__area.open {
	right: auto;
	visibility: visible;
	opacity: 1;
	left: 0;
}
.mm-menu ul li.has-droupdown > a::after {
	right: auto;
	left: 16px;
}
.header__category ul li .cat-submenu {
	left: auto;
	right: 0;
}
.ml-50 {
	margin-right: 50px;
    margin-left: 0;
}
.ml-20 {
	margin-right: 20px;
    margin-left: 0;
}
.mr-30 {
	margin-right: 0;
	margin-left: 30px;
}
.header__cart {
	right: auto;
	left: 20px;
    padding-right: 18px;
    padding-left: 0;
}
.course__tab-2 .nav-tabs .nav-item .nav-link i {
	padding-right: 0;
	padding-left: 5px;
}
.header__cart::after {
	right: 0;
}
.header__search input {
	padding: 25px 55px 20px 65px;
}
.header__search button {
	right: 24px;
    left: 0;
}
.hero__content p {
	padding-left: 130px;
    padding-right: 0;
}
.header__cart a .cart-item {
	left: -10px;
	right: auto;
}
.hero__quote {
	left: -200px;
    right: auto;
}
.hero__thumb-shape img.hero-1-dot {
	right: -30px;
    left: auto;
}
.hero__thumb-shape img.hero-1-circle-3 {
    right: auto;
	left: 1%;
}
.hero__thumb-shape img.hero-1-circle-4 {
    right: auto;
	left: 10%;
}
.link-btn:hover i:first-child {
	right: auto;
    left: 0;
}
.link-btn i:first-child {
	left: 10%;
    right: auto;
}
.link-btn i:last-child {
	right: auto;
    left: 0px;
}
.link-btn:hover i:last-child {
    left: -10%;
	right: auto;
}
.float-md-end {
	float: left !important;
}
.link-btn {
	padding-left: 21px;
    padding-right: 0;
}
.banner__thumb {
	right: auto;
    left: 10px;
}
.course__menu button:not(:first-child) {
	margin-left: 0;
	margin-right: 25px;
}
.course__tag {
	left: auto;
    right: 20px;
}
.course__lesson span i {
	padding-left: 7px;
    padding-right: 0;
}
.mr-15 {
	margin-right: 0px;
    margin-left: 15px;
}
.course__status span {
	padding-right: 0px;
    padding-left: 5px;
}
.events__meta span {
	padding-left: 7px;
	margin-left: 7px;
    padding-right: 0;
    margin-right: 0;
}
.events__meta span:not(:last-child)::after {
	left: 0;
    right: auto;
}
.price__tab-btn .nav-tabs {
	direction: ltr;
}
.price__offer {
	left: -15px;
    right: auto;
}
.price__features ul li {
	padding-right: 30px;
    padding-left: 0;
}
.price__features ul li i {
	left: auto;
    right: 0;
}
.footer__subscribe-input button {
	right: auto;
    left: 0;
	padding-right: 0px;
    padding-left: 25px;
}
.footer__subscribe-input input {
	padding-right: 0px;
    padding-left: 50px;
    padding: 0 30px;
}
.footer__subscribe p {
	padding-right: 0px;
	padding-left: 60px;
}
.footer__social ul li:not(:last-child) {
	margin-left: 10px;
    margin-right: 0;
}
.progress-wrap {
	right: auto;
	left: 50px;
}
.hero__search-input button {
	right: auto;
	left: 24px;
}
.hero__thumb-2 img.hero-shape-purple {
	left: auto;
	right: 0;
}
[type="tel"], [type="url"], [type="email"], [type="number"] {
	direction: rtl;
}
.hero__promotion {
	right: -7% !important;
	left: auto !important;
}
.mr-10 {
	margin-left: 10px;
	margin-right: 0px;
}
.hero__promotion.education {
	right: -11% !important;
	left: auto !important;
}
.hero__class {
	right: auto !important;
	left: -12% !important;
}
.hero__mic {
	right: auto;
	left: 10%;
}
.services__content .link-btn-2 {
	left: auto;
	right: 40px;
}
.course__enroll-btn i {
	padding-right: 4px;
}
.breadcrumb-item + .breadcrumb-item {
	padding-right: var(--bs-breadcrumb-item-padding-x);
	padding-left: 0;
}
.page__title-breadcrumb .breadcrumb .breadcrumb-item + .breadcrumb-item::before {
	padding-right: 0;
	padding-left: 13px;
}
.events__social h4 {
	margin-right: 0px;
	margin-left: 10px;
}
.sidebar__category ul li button {
	padding-left: 0;
	padding-right: 20px;
}
.sidebar__category ul li button::after {
	left: auto;
    right: 0;
}
.page__title-wrapper .breadcrumb .breadcrumb-item + .breadcrumb-item::before {
	padding-right: 0;
	padding-left: 13px;
}
.breadcrumb-item + .breadcrumb-item::before {
	float: right;
}
.pr-50 {
	padding-right: 0;
	padding-left: 50px;
}
.sidebar__search input {
	padding-left: 45px;
	padding-right: 30px;
}
.page__title-wrapper .breadcrumb .breadcrumb-item + .breadcrumb-item {
	padding-left: 0;
	padding-right: 13px;
}
.about__review {
	left: auto;
	right: -25px;
}
.ml-100 {
	margin-right: 100px;
	margin-left: 0;
}
.ml-30 {
	margin-left: 0px;
	margin-right: 30px;
}
.about__list ul li i {
	padding-right: 0px;
	padding-left: 9px;
}
.mr-20 {
	margin-left: 20px;
	margin-right: 0px;
}
.cta__agree label {
	padding-left: 0px;
	padding-right: 8px;
}
.mr-40 {
	margin-left: 40px;
	margin-right: 0px;
}
.blog__date i {
	margin-left: 10px;
	margin-right: 0px;
}
.sidebar__search button {
	right: auto;
	left: 20px;
}
.blog__social h4 {
	margin-left: 10px;
	margin-right: 0px;
}
.blog__tag-2 a {
	margin-left: 8px;
	margin-right: 0px;
}
.blog__author-3 {
	padding-left: 60px;
	padding-right: 0px;
    padding: 30px;
}
.ml-65 {
	margin-right: 65px;
	margin-left: 0px;
}
.blog__comment-agree label {
	padding-right: 8px;
	padding-left: 0px;
}
.pl-70 {
	padding-right: 70px;
	padding-left: 00px;
}
.sidebar__category ul li a {
	padding-right: 20px;
	padding-left: 0px;
}
.sidebar__category ul li a::after {
	left: auto;
    right: 0;
}
.sidebar__tag a {
	padding: 0 15px;
	margin-left: 8px;
	margin-right: 0px;
}
.basic-pagination ul li {
	margin-left: 20px;
	margin-right: 0px;
}
.cart-area #coupon_code {
	margin-left: 10px;
	margin-right: 0px;
}
.payment-method .accordion-button::after {
	left: 0;
	right: auto;
	margin-left: auto;
    margin-right: 0;
}
.checkout-form-list input[type="text"], .checkout-form-list input[type="password"], .checkout-form-list input[type="email"] {
	padding: 0px 10px 0 0px;
}
.form-row > label {
	margin-left: 0px;
	margin-right: 15px;
}
.mr-70 {
	margin-left: 70px;
	margin-right: 0px;
}
.mr-80 {
	margin-left: 80px;
	margin-right: 0px;
}
.course__video-icon svg {
	margin-right: 0px;
	margin-left: 12px;
}
.course__tag-2 i {
	padding-left: 8px;
	padding-right: 0px;
}
.course__share ul li {
	margin-left: 10px;
	margin-right: 0px;
}
.course__curriculum-meta span.question {
	margin-right: 20px;
	margin-left: 0px;
}
.course__review-rating-info {
	border-right: 0px solid #ffffff;
	border-left: 3px solid #ffffff;
}
.ml-70 {
	margin-right: 70px;
	margin-left: 0px;
}
.course__member-thumb::after {
	left: 0;
	right: auto;
}
.pl-45 {
	padding-right: 45px;
	padding-left: 0px;
}
.pl-85 {
	padding-right: 85px;
	padding-left: 0px;
}
.course__sort-inner::before {
	left: 15px;
	right: auto;
}
.course__view {
	margin-right: 12px;
	margin-left: 0px;
}
.course__sidebar-check label {
	padding-right: 14px;
	padding-left: 0px;
}
.course__sidebar-search button {
	left: 20px;
	right: auto;
}
.pr-40 {
	padding-left: 40px;
	padding-right: 0px;
}
.events__allow ul li i {
	margin-left: 10px;
	margin-right: 0px;
}
.events__tag span {
	margin-left: 7px;
	margin-right: 0px;
}
.pr-30 {
	padding-left: 30px;
	padding-right: 0px;
}
.teacher__details-shape img.teacher-details-shape-2 {
	right:  -27px;
	left: auto;
}
.teacher__details-shape img.teacher-details-shape-1 {
	left: 0px;
	right: auto;
}
.contact__info-inner {
	padding-left: 70px;
	padding-right: 0px;
    padding: 45px 40px;
}
.contact__social ul li {
	margin-left: 10px;
	margin-right: 0px;
}
.contact__form-agree label {
	padding-right: 8px;
	padding-left: 0px;
}
.contact__shape img.contact-shape-3 {
	left: -45%;
	right: auto;
}
.sign__social {
    text-align: start !important;
	direction: ltr;
}
.sign__social::after {
	left: -45%;
}
.course__tab-2 .nav-tabs .nav-item .nav-link i {
	direction: ltr;
	display: inline-block;
}
.cta__form-inner input {
	margin-left: 20px;
    margin-right: 0;
}
.brand__slider .swiper-slide {
	text-align: center;
}
.slider__title {
	padding-left: 25px;
	padding-right: 0;
}
.slider__content > span, .slider__content p {
	padding-left: 25px;
	padding-right: 0;
}
.events__info-icon svg {
	margin-left: 12px;
	margin-right: 0;
}
.sign__agree label {
	padding-right: 10px;
	padding-left: 0;
}
.sign__input i {
	right: 25px;
	left: auto;
}
.cartmini__thumb {
	margin-left: 15px;
	margin-right: 0;
}
.cartmini__del {
	left: 10px;
	right: auto;
}
.cartmini__inner ul li {
	padding-left: 35px;
	padding-right: 0;
    padding: 20px;
}
.cartmini__close {
	left: 20px;
	right: auto;
}
.cartmini__wrapper.opened {
	transform: translateX(0);
}
.cartmini__wrapper.opened {
	right: auto;
}
.cartmini__wrapper {
	right: auto;
	transform: translateX(-100%);
	left: 0;
}
.sidebar__area {
	left: -340px;
	right: auto;
}
.sidebar__area.sidebar-opened {
	left: 0px;
	right: auto;
}
.sidebar__close {
	left: 80px;
	right: auto;
}
.mean-container .mean-nav ul li a {
	text-align: right;
}
.mean-container .mean-nav ul li a.mean-expand::after {
	right: 0;
	left: auto;
    top: -5px;
}
.mean-container .mean-nav ul li a.mean-expand {
	left: 0;
	right: auto;
}
.sidebar__tag button {
	margin-right: 0;
	margin-left: 8px;
}
.cartmini__checkout-title span {
	float: left;
}
.e-btn {
	line-height: 48px;
}
.e-btn-2 {
	line-height: 32px;
}
.e-btn-border {
	line-height: 40px;
}
.e-btn-border-2 {
	line-height: 38px;
}
.course__status span {
	padding-right: 0px;
	padding-left: 4px;
}

/* xs-device */
@media (max-width: 767px) {
	.hero__content p {
        padding-left: 0px;
    }
    .hero__quote {
        left: 15px;
        right: auto;
    }
    .price__offer {
        left: 0;
        right: auto;
    }
    .hero__promotion {
        right: 9% !important;
        left: auto !important;
    }
    .about__content {
        padding-left: 0px;
        padding-right: 0;
    }
    .testimonial__video {
        margin-right: 0;
    }
    .course__sidebar {
        padding-right: 0;
    }
    .course__member-info {
        padding-right: 0;
        padding-left: 0;
    }
    .blog__sidebar {
        padding-right: 0;
    }
    .events__sidebar {
        padding-right: 0;
    }
    .sign__social::after {
        left: -60%;
    }
    .offset-xxl-4 {
        margin-left: 0;
        margin-right: 0;
    }
    .offset-xxl-1 {
        margin-left: auto;
        margin-right: 0;
    }
    .offset-xl-3 {
        margin-left: auto;
        margin-right: auto;
    }
    .offset-xxl-3 {
        margin-left: auto;
        margin-right: auto;
    }
    .float-md-end {
        float: right !important;
    }
}


/* md-device */
@media (min-width: 768px) and (max-width: 991px) {
	.hero__quote {
        left: 30px;
        right: auto;
    }
    .hero__content p {
        padding-left: 0px;
    }
    .about__content {
        padding-right: 0px;
        padding-left: 0;
    }
    .course__sidebar {
        padding-right: 0;
    }
    .blog__sidebar {
        padding-right: 0;
    }
    .why__content {
        padding-left: 0;
        padding-right: 0px;
    }
    .events__sidebar {
        padding-right: 0;
    }
    .sign__social::after {
        left: -40%;
    }
    .offset-xxl-4 {
        margin-left: 0;
        margin-right: 0;
    }
    .offset-xxl-1 {
        margin-left: auto;
        margin-right: 0;
    }
    .offset-md-1 {
        margin-left: 0;
        margin-right: 8.33333333%;
    }
    .offset-xl-3 {
        margin-left: auto;
        margin-right: auto;
    }
    .offset-xxl-3 {
        margin-left: auto;
        margin-right: auto;
    }
    .offset-xxl-3 {
        margin-left: auto;
        margin-right: auto;
    }
}

/* lg-device */
@media (min-width: 992px) and (max-width: 1199px) {
	.hero__thumb-sm {
        margin-right: -160px;
        margin-left: auto;
    }
    .hero__quote {
        left: 60px;
        right: auto;
    }
    .hero__class {
        left: 1% !important;
        right: auto !important;
    }
    .hero__content p {
        padding-left: 0px;
    }
    .course__sidebar {
        padding-right: 0;
    }
    .blog__sidebar {
        padding-right: 0;
    }
    .offset-xxl-4 {
        margin-left: auto;
        margin-right: auto;
    }
    .offset-xxl-3 {
        margin-left: auto;
        margin-right: auto;
    }
    .offset-xxl-1 {
        margin-left: auto;
        margin-right: auto;
    }
    .offset-xl-3 {
        margin-left: auto;
        margin-right: auto;
    }
}



/* xl-device */
@media (min-width: 1200px) and (max-width: 1399px) {
	.main-menu ul li:not(:first-child) {
        margin-right: 10px;
        margin-left: 0px;
    }
    .hero__thumb-sm {
        margin-right: -50px;
        margin-left: 0px;
    }
    .hero__quote {
        left: -145px;
        right: auto;
    }
    .hero__class {
        left: -5% !important;
    }
    .sign__social::after {
        left: -60%;
    }
    .offset-xxl-4 {
        margin-left: auto;
        margin-right: auto;
    }
    .offset-xxl-1 {
        margin-left: auto;
        margin-right: auto;
    }
    .offset-xxl-3 {
        margin-left: auto;
        margin-right: auto;
    }
}


/* xxl-device */
@media (min-width: 1400px) and (max-width: 1600px) {
    .header__padding {
        padding-left: 35px;
        padding-right: 35px;
    }
	.hero__class {
        left: -8% !important;
    }
}


/* xxxl-device */
@media (min-width: 1601px) and (max-width: 1700px) {
    .header__padding {
        padding-left: 100px;
        padding-right: 100px;
    }
}