
<div class="blog__sidebar pl-70">
  <div class="sidebar__widget mb-55">
     <div class="sidebar__widget-head mb-35">
        <h3 class="sidebar__widget-title">Derniers posts</h3>
     </div>
     <div class="sidebar__widget-content">
        <div class="rc__post-wrapper">
           <div class="rc__post d-flex align-items-center">
              <div class="rc__thumb mr-20">
                 <a [routerLink]="['/blog-details']"><img src="assets/img/blog/sm/blog-sm-1.jpg" alt=""></a>
              </div>
              <div class="rc__content">
                 <div class="rc__meta">
                    <span>October 15, 2021</span>
                 </div>
                 <h6 class="rc__title"><a [routerLink]="['/blog-details']">Ses écoles qui rêvent de vous voir</a></h6>
              </div>
           </div>
           <div class="rc__post d-flex align-items-center">
              <div class="rc__thumb mr-20">
                 <a [routerLink]="['/blog-details']"><img src="assets/img/blog/sm/blog-sm-2.jpg" alt=""></a>
              </div>
              <div class="rc__content">
                 <div class="rc__meta">
                    <span>March 26, 2021</span>
                 </div>
                 <h6 class="rc__title"><a [routerLink]="['/blog-details']">Comment obtenir son A.V.I avec A-Z Etude en France</a></h6>
              </div>
           </div>
           <div class="rc__post d-flex align-items-center">
              <div class="rc__thumb mr-20">
                 <a [routerLink]="['/blog-details']"><img src="assets/img/blog/sm/blog-sm-3.jpg" alt=""></a>
              </div>
              <div class="rc__content">
                 <div class="rc__meta">
                    <span>October 15, 2021</span>
                 </div>
                 <h6 class="rc__title"><a [routerLink]="['/blog-details']">Transformer votre monde</a></h6>
              </div>
           </div>
        </div>
     </div>
  </div>
  <div class="sidebar__widget mb-55">
     <div class="sidebar__widget-head mb-35">
        <h3 class="sidebar__widget-title">Catégories</h3>
     </div>
     <div class="sidebar__widget-content">
        <div class="sidebar__category">
           <ul>
              <li><a [routerLink]="['/blog']">Préparation (2)</a></li>
              <li><a [routerLink]="['/blog']">Video & Tips  (4)</a></li>
              <li><a [routerLink]="['/blog']">Education  (8)</a></li>
              <li><a [routerLink]="['/blog']">Business  (5)</a></li>
              <li><a [routerLink]="['/blog']">Astuces  (3)</a></li>
           </ul>
        </div>
     </div>
  </div>
  <div class="sidebar__widget mb-55">
     <div class="sidebar__widget-head mb-35">
        <h3 class="sidebar__widget-title">Tags</h3>
     </div>
     <div class="sidebar__widget-content">
        <div class="sidebar__tag">
           <a href="#">Art & Design</a>
           <a href="#">Course</a>
           <a href="#">Videos</a>
           <a href="#">App</a>
           <a href="#">Education</a>
           <a href="#">Data Science</a>
           <a href="#">Machine Learning</a>
           <a href="#">Tips</a>
        </div>
     </div>
  </div>
  <div class="sidebar__widget mb-55">
     <div class="sidebar__banner w-img">
        <img src="assets/img/blog/banner/banner-1.jpg" alt="">
     </div>
  </div>
</div>
