    <div class="uk-grid" data-uk-grid>
        <div class="uk-width-2-3@l uk-width-3-3@m uk-width-3-3@s">
            <h3 class="uk-text-lead">Le meilleur service pour les étudiants</h3>
            <div class="js-recommend">
                <div class="swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="recommend-slide">
                                <div class="tour-slide__box">
                                    <a href=""><img src="assets/img/eleves-bonne-sante-posent-ensemble-prenant-photo (2).jpg" alt="banner"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swipper-nav">
                        <div class="swiper-button-prev"></div>
                        <div class="swiper-button-next"></div>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
            </div>
        </div>
        <div class="uk-width-1-3@l uk-width-3-3@m uk-width-3-3@s">
            <h3 class="uk-text-lead"> Les plus demandés</h3>
            <div class="js-trending">
                <div class="swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="game-card --horizontal">
                                <div class="game-card__box">
                                    <div class="game-card__media"><a href="10_game-profile.html"><img src="assets/img/couple-prevoyant-redecorer-maison.jpg" alt="Alien Games" /></a></div>
                                    <div class="game-card__info"><a class="game-card__title" href="10_game-profile.html"> Logement</a>
                                        <div class="game-card__genre">C'est le moment de préparer un logement pour ses études !</div>
                                        <div class="game-card__rating-and-price">
                                            <div class="game-card__rating"><span></span><i class="ico_star"></i></div>
                                            <div class="game-card__price"><span>Disponible</span></div>
                                        </div>
                                        <div class="game-card__bottom">
                                            <div class="game-card__platform"><i class="ico_windows"></i><i class="ico_apple"></i></div>
                                            <div class="game-card__users">
                                                <ul class="users-list">
                                                    <li><img src="assets/img/user-1.png" alt="user" /></li>
                                                    <li><img src="assets/img/user-2.png" alt="user" /></li>
                                                    <li><img src="assets/img/user-3.png" alt="user" /></li>
                                                    <li><img src="assets/img/user-4.png" alt="user" /></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swipper-nav">
                        <div class="swiper-button-prev"></div>
                        <div class="swiper-button-next"></div>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
            </div>
        </div>
        <div class="uk-width-1-1">
            <h3 class="uk-text-lead">Meilleures opportunités !</h3>
            <div class="js-popular">
                <div class="swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="game-card">
                                <div class="game-card__box">
                                    <div class="game-card__media"><a href="10_game-profile.html"><img src="assets/img/game-1.jpg" alt="Solitary Crusade" /></a></div>
                                    <div class="game-card__info"><a class="game-card__title" href="10_game-profile.html"> Aide logements</a>
                                        <div class="game-card__genre">Réservé aux membres</div>
                                        <div class="game-card__rating-and-price">
                                            <div class="game-card__rating"><span>4.8</span><i class="ico_star"></i></div>
                                            <div class="game-card__price"><span> 100 - 300 €</span></div>
                                        </div>
                                        <div class="game-card__bottom">
                                            <div class="game-card__platform"><i class="ico_windows"></i><i class="ico_apple"></i></div>
                                            <div class="game-card__users">
                                                <ul class="users-list">
                                                    <li><img src="assets/img/user-1.png" alt="user" /></li>
                                                    <li><img src="assets/img/user-2.png" alt="user" /></li>
                                                    <li><img src="assets/img/user-3.png" alt="user" /></li>
                                                    <li><img src="assets/img/user-4.png" alt="user" /></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>
                    <div class="swiper-pagination"></div>
                </div>
            </div>
        </div>
    </div>

